{
    "extension": [
        ".js",
        "@istanbuljs/nyc-config-babel"
    ],
    "env": {
        "test": {
        "plugins": [
            ["istanbul", {
            "exclude": [
                "**/*.spec.js"
            ],
            "useInlineSourceMaps": false
            }]
        ]
        }
    },
    "check-coverage": true,
    "all": true,
    "exclude": [
        "**/node_modules/**",
        "**/test/**",
        "**/dist/**",
        "**/swagger/**",
        "**/coverage/**"
    ],
    "reporter": [
        "text",
        "lcov",
        "html"
    ],
    "temp-dir": "./.nyc_output",
    "report-dir": "./coverage",
    "excludeNodeModules": true,
    "skip-full": true,
    "sourceMap": false,
    "instrument": false
}